
header{
    background-color: rgba(5, 53, 119, 0.993);
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
}
header a{
    color: aliceblue;
    text-decoration: none;
}
.flex-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}
.container-menu ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.apresentacao{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.apresentacao img{
    display: block;
    width: 100%;
    min-width: 300px;
    max-width: 600px;
}
.Titulo-apresentacao h1{
    font-size: 48px;
    color:rgba(5, 53, 119, 0.993);
    margin-bottom: 10px;
}
.Titulo-apresentacao a{
    text-decoration: none;
    background-color:rgba(5, 53, 119, 0.993);
    color: aliceblue;
    text-align: center;
    border-radius: 30px;
    width: 120px;
    display: block;
    margin-left: 35px;
}
.quem-somos{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.quem-somos img{
    display: block;
    width: 100%;
    min-width: 300px;
}
.quem-somos h2{
    font-size: 36px;
    color:rgba(5, 53, 119, 0.993);
    margin-bottom: 10px;
    display: flex;
}
.quem-somos h2::before{
    content: "";
    height: 40px;
    width: 5px;
    margin-right: 5px;
    background-color:  rgba(5, 53, 119, 0.993);
}
.servicos{
    background-color: rgba(5, 53, 119, 0.993);
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.item-servico{
  text-align: center;
  color: aliceblue;
}

.item-servico img{
    width: 70%;
  }

.item-servico a{
    background-color: aliceblue;
    padding: 8px;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;
    color: rgb(101, 117, 239);
  }

.servicos h2{
    color: aliceblue;
    font-size: 30px;
}



